<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # 1. Arahkan halaman utama domain ke file index.html di dalam dist
  RewriteRule ^$ dist/index.html [L]

  # 2. Arahkan permintaan aset (CSS/JS/Gambar) ke dalam folder dist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>